
<body class="light-mode f-roboto f-regular">
    <div id="container">
    
    
        
    

        <div id="formOption">

        </div>

        
    
    </div>
    <script>
        document.getElementById("<%= data.page %>").classList.add("pick");
        document.getElementById("<%= data.range_name %>").classList.add("pick");
    </script>
<script src="/scripts/reaction.js"></script>
<script src="/scripts/logout_api.js"></script>
</body>
</html>