@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.f-roboto {
    font-family: "Roboto", sans-serif;
    font-style: normal;
  }
.f-bold, .info > ul span {
    font-weight: 700;
}
.f-regular {
    font-weight: 400;
  }
.f-medium {
    font-weight: 500;
  }

  /* in menu */
.name > h3 {
    font-size: 28px;
}
/* in menu end */

  /* in nav */
#notify > p {
    font-size: 14px;
}
.info > ul span {
    font-size: 16px;
}
/* in nav end */

/* in rooms */
.content p {
    font-size: 13px;
}
/* in rooms end */

.fredoka-regular {
    font-family: "Fredoka", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px !important;
    font-variation-settings:
      "wdth" 100;
  }